@import "uikit.min.css";
@import "swiper-bundle.min.css";

:root {
    --theme-color: #214e91;
    --text-color-default: #11192d;
    --text-color-primary: var(--theme-color);
}

body {
    background-color: #f6f8f9;
}

/* 导航栏 */
.yx-navbar-nav {
    gap: 40px;
}

.yx-navbar-nav li a {
    font-size: 16px;
}

.yx-navbar-nav .uk-dropdown {
    min-width: unset;
}

.uk-light .uk-logo>img {
    filter: brightness(0) invert(1);
}

.yx-navbar-dropdown li>a {
    color: var(--text-color-default);
}

.yx-navbar-dropdown {
    width: 150px;
    padding: 10px 20px;
    border-radius: 10px;
}

.yx-navbar-nav>li {
    position: relative;
}

.yx-navbar-nav>li:hover::after,
.yx-navbar-nav>li.uk-active::after {
    transform: scaleX(1);
}

.uk-light .yx-navbar-nav>li>a {
    color: rgba(255, 255, 255, 0.8);
}

.uk-light .yx-navbar-nav>li::after {
    background: rgba(255, 255, 255, 1);
}

.uk-light .yx-navbar-nav>li>a:hover {
    color: rgba(255, 255, 255, 1);
}

.uk-navbar-sticky .yx-navbar-nav>li>a {
    color: var(--text-color-default);
}

.uk-navbar-sticky .yx-navbar-nav>li::after {
    background: var(--text-color-primary);
}

.uk-navbar-sticky .yx-navbar-nav>li>a:hover {
    color: var(--text-color-primary);
}

.uk-navbar-sticky .yx-navbar-nav>li.uk-active>a {
    color: var(--text-color-primary);
}

.yx-navbar-dropdown .uk-navbar-dropdown-nav>li:hover>a,
.yx-navbar-dropdown .uk-navbar-dropdown-nav>li.uk-active>a {
    color: var(--text-color-primary);
}

.yx-navbar-nav>li::after {
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    height: 3px;
    content: "";
    display: block;
    position: absolute;
    border-radius: 2px;
    transform: scaleX(0);
    pointer-events: none;
    transform-origin: center;
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

/* 首页轮播图 */
#main-slide {
    --swiper-theme-color: white;
    --swiper-navigation-size: 26px;
}

#main-slide .swiper-wrapper .swiper-slide img {
    height: 100vh;
}